<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Add New Booking</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="header-icon">
          <i class="pe-7s-note2"></i>
        </div>
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <!-- Form controls -->
          <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
              <div class="panel-heading">
                <div class="btn-group">
                  <a class="btn btn-primary" routerLink="/viewBooking"> <i class="fa fa-list"></i> Booking List </a>
                </div>
              </div>
              <div class="panel-body">
                <form action="#" id="form_sample_1" [formGroup]="bookingForm" class="col-sm-12">
                  <div class="col-sm-6 form-group">
                    <label style="  font-size: 18px;font-weight: 500;">Booked By</label>
                    <input type="text" class="form-control" placeholder="Enter Booked By Name" required>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label style="  font-size: 18px;font-weight: 500;">DriverName</label>
                    <input type="text" class="form-control" placeholder="Enter DriverName" required>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label style=" font-size: 18px;font-weight: 500;">Report Date/time</label>
                    <input type="email" class="form-control" placeholder="Selct Report Date.." required>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label style="  font-size: 18px;font-weight: 500;">Customer Name
                      <span class="required"> * </span>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="customerName" appTextDirective OnlyText="true"
                      formControlName="customerName" maxlength="35" placeholder="Enter Customer Name" required>
                    <span *ngIf="submitted && f.customerName.errors" style="color:red;font-size: small;">
                      <span *ngIf="f.customerName.errors.required" class="commonFont">
                        Customer Name is required.! </span>
                    </span>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label style="  font-size: 18px;font-weight: 500;">Customer Phone1</label>
                    <input type="text" class="form-control" placeholder="Enter Phone1" required>
                  </div>

                  <div class="col-sm-6 form-group">
                    <label style="  font-size: 18px;font-weight: 500;">SMS To</label>
                    <textarea id="some-textarea" class="form-control" rows="3" placeholder="Enter SMS To ..."></textarea>
                  </div>

                  <div class="col-sm-6 form-group">
                    <label style="  font-size: 18px;font-weight: 500;">From Address</label>
                    <textarea id="some-textarea" class="form-control" rows="3" placeholder="Enter Address ..."></textarea>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label style="  font-size: 18px;font-weight: 500;">Destination Address</label>
                    <textarea id="some-textarea" class="form-control" rows="3" placeholder="Enter Destination Address ..."></textarea>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label style="  font-size: 18px;font-weight: 500;">Vehicle Name</label>
                    <input type="text" class="form-control" placeholder="Enter Vechile Name" required>
                  </div>

                  <div class="col-sm-6 form-group">
                    <label style=" font-size: 18px;font-weight: 500;">Remark</label>
                    <textarea id="some-textarea" class="form-control" rows="3" placeholder="Enter Remarks ..."></textarea>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label style="  font-size: 18px;font-weight: 500;">Customer Phone2</label>
                    <input type="number" class="form-control" placeholder="Enter Mobile" required>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label style=" font-size: 18px;font-weight: 500;">Customer Request</label>
                    <textarea id="some-textarea" class="form-control" rows="3" placeholder="Enter text ..."></textarea>
                  </div>
                  <div class="col-sm-12 form-group">
                    <label style=" font-size: 18px;font-weight: 500;">Complaints</label>
                    <textarea id="some-textarea" class="form-control" rows="3" placeholder="Enter text ..."></textarea>
                  </div>

                  <div class="col-sm-12 reset-button">
                    <a  class="btn btn-warning">Reset</a>
                    <a (click)="addBooking()" class="btn btn-success">Save</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </section> <!-- /.content -->
    </div> <!-- /.content-wrapper -->
  </div>
</div>