<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">View Bookings</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="header-icon">
          <i class="pe-7s-note2"></i>
        </div>
      </section>
      <div *ngIf="isLoading" class="loader"></div>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <!-- Form controls -->
          <div class="col-sm-12">
            <div class="row">
              <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                  <div class="btn-group">
                    <a class="btn btn-primary" routerLink="/addBooking"> <i class="fa fa-plus"></i> Add New Bookings
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 pull-right">
                  <div class="form-group has-search">
                    <input type="text" class="search-Box" (keyup)="searchBooking($event)"
                      placeholder="search Bookings...">

                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 pull-right">
                  <input type="date" (ngModelChange)="getBookingList()" class="form-control" [(ngModel)]="bookingDate"
                    [formControl]="bookingUpdateForm.controls.bookingDate" placeholder="Select date" required>
                </div>
              </div>
              <div class="text-center text-danger" *ngIf="table==false" id="center"><br>{{noData}}</div>
              <div class="table-scrollable ex1" infiniteScroll [infiniteScrollDistance]="2" [alwaysCallback]="false"
                [infiniteScrollThrottle]="500" [infiniteScrollUpDistance]="0.5" [scrollWindow]="false"
                [infiniteScrollContainer]="'.ex1'" [fromRoot]="true" *ngIf="table">
                <table class="table table-hover table-bordered table-checkable order-column full-width" id="example4"
                  style=" position: relative;">
                  <thead>
                    <tr>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Booking Id </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Booked By </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Driver Name </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Report Date </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Customer Name </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Pickup Area </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Drop Area </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Customer Phone1 </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">vehicle </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">From Address </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">To Address </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Complaints </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">SmsTo </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Customer Request </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}" style="width:100px;">Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd gradeX" *ngFor="let list of bookingList">
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.id}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.bookedby}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.driverName}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.reportDate}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.customerName}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.pickupArea}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.dropArea}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.custPhone1}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.carName}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.fromAddress}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.toAddress}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.complaints}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.smsTo}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.customerRequest}}</td>
                      <td class="left">
                        <button mat-raised-button matTooltip="Update Booking Details"
                          class="btn btn-xs animation-rotation" [routerLink]="['/editBooking/',list.id]"
                          style="color: white;">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button mat-raised-button matTooltip="Cancel Booking" class="btn  btn-xs animation-rotation"
                          id="btn2" (click)="cancelBooking(list)" [disabled]="list.bookStatus=='Cancelled'"
                          style="color: white;">
                          <i class="fa fa-ban" aria-hidden="true"></i>
                        </button>
                        <button mat-raised-button matTooltip="Send notification to users"
                          class="btn  btn-xs animation-rotation" [routerLink]="['/message/',list.id]" id="btn2"
                          style="color: white;">
                          <i class="fa fa-send" aria-hidden="true"></i>
                        </button>
                        <button mat-raised-button matTooltip="Driver Issued" class="btn  btn-xs animation-rotation"
                          (click)="driverIssued(list)" id="btn2" style="color: white;">
                          <i class="fa fa-tasks" aria-hidden="true"></i>
                        </button>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-scrollable " *ngIf="table1">
                <table class="table table-hover table-bordered table-checkable order-column full-width" id="example4">
                  <thead>
                    <tr>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Booking Id </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Booked By </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Driver Name </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Report Date </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Customer Name </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Pickup Area </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Drop Area </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Customer Phone1 </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">vehicle </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">From Address </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">To address </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Complaints </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">SmsTo </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}">Customer Request </th>
                      <th class="stickey_header" [ngStyle]="{'background-color': '#E1E3E4'}" style="width:100px;">Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd gradeX" *ngFor="let list of searchList">
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.id}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.bookedby}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.driverName}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.reportDate}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.customerName}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.pickupArea}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.dropArea}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.custPhone1}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.carName}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.fromAddress}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.toAddress}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.complaints}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.smsTo}}</td>
                      <td class="left"
                        [ngStyle]="list.driverName==null && list.bookStatus!='Cancelled' ?{'background-color': '#7CFC00'} : {'background-color': '#FF6347'} && list.driverName!=null && list.bookStatus!='Cancelled' ?{'background-color': '#FF6347'} : {'background-color': '#DC143C'} ">
                        {{list.customerRequest}}</td>
                      <td class="left">
                        <button mat-raised-button matTooltip="Update Booking Details"
                          class="btn btn-xs animation-rotation" [routerLink]="['/editBooking/',list.id]"
                          style="color: white;">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button mat-raised-button matTooltip="Cancel Booking" class="btn  btn-xs animation-rotation"
                          id="btn2" (click)="cancelBooking(list)" [disabled]="list.bookStatus=='Cancelled'"
                          style="color: white;">
                          <i class="fa fa-ban" aria-hidden="true"></i>
                        </button>
                        <button mat-raised-button matTooltip="Send notification to users"
                          class="btn  btn-xs animation-rotation" [routerLink]="['/message/',list.id]" id="btn2"
                          style="color: white;">
                          <i class="fa fa-send" aria-hidden="true"></i>
                        </button>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section> <!-- /.content -->
    </div> <!-- /.content-wrapper -->
  </div>
</div>