<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Send Notification</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="header-icon">
                    <i class="pe-7s-note2"></i>
                </div>
            </section>
            <div *ngIf="false" class="loader"></div>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- Form controls -->
                    <div class="col-sm-12">
                        <div class="panel panel-bd lobidrag">
                            <div class="panel-heading">
                                <div class="btn-group">
                                    <a class="btn btn-primary" routerLink="/viewBooking"> <i class="fa fa-list"></i>
                                        Booking List </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form action="#" id="form_sample_1"  [formGroup]="messageForm" class="col-sm-12">
                                    <div class="col-sm-6 form-group">
                                        <label style="  font-size: 18px;font-weight: 500;">Customer Phone1
                                            <span class="required"> * </span> 
                                        </label>
                                        <input type="text" class="form-control" [(ngModel)]="customerPhone1"
                                            appTextDirective OnlyText="true" formControlName="customerPhone1"
                                            maxlength="30" placeholder="Enter Customer number..." required>
                                        <span *ngIf="submitted && f.customerPhone1.errors"
                                            style="color:red;font-size: small;">
                                            <span *ngIf="f.customerPhone1.errors.required" class="commonFont">
                                                Customer Phone1 is required.! </span>
                                        </span>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label style="  font-size: 18px;font-weight: 500;">Driver Phone1
                                            <span class="required"> * </span>
                                        </label>
                                        <input type="text" class="form-control" [(ngModel)]="driverPhone1"
                                            appTextDirective OnlyText="true" formControlName="driverPhone1"
                                            maxlength="30" placeholder="Enter Driver number..." required>
                                        <span *ngIf="submitted && f.driverPhone1.errors"
                                            style="color:red;font-size: small;">
                                            <span *ngIf="f.driverPhone1.errors.required" class="commonFont">
                                                Driver Phone1 is required.! </span>
                                        </span>
                                    </div>
                                    <div class=" form-group col-sm-2">

                                        <input type="checkbox" class="form-check-input" [(ngModel)]="customer"
                                            formControlName="customer">
                                        <label style="  font-size: 18px;font-weight: 500;">&nbsp;Customer
                                        </label>
                                    </div>
                                    <div class=" form-group col-sm-2">

                                        <input type="checkbox" class="form-check-input" [(ngModel)]="driver"
                                            formControlName="driver">
                                        <label style="  font-size: 18px;font-weight: 500;">&nbsp;Driver
                                        </label>
                                    </div>

                                    <div class=" form-group col-sm-2">

                                        <input type="checkbox" class="form-check-input" [(ngModel)]="whatsapp"
                                            formControlName="whatsapp">&nbsp;
                                        <i class="fa fa-whatsapp" style="color: green;"></i>
                                    </div>
                                    <div class=" form-group col-sm-2">

                                        <input type="checkbox" class="form-check-input" [(ngModel)]="sms"
                                            formControlName="sms">&nbsp;
                                        <i class="fa fa-comments" style="color: blue;"></i>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label style="  font-size: 18px;font-weight: 500;">Message
                                            <span class="required"> * </span>
                                        </label>
                                        <textarea id="some-textarea" class="form-control" rows="3"
                                            [(ngModel)]="comments" appTextDirective OnlyText="true"
                                            formControlName="comments" maxlength="300"
                                            placeholder="Enter message ..."></textarea>
                                        <span *ngIf="submitted && f.comments.errors"
                                            style="color:red;font-size: small;">
                                            <span *ngIf="f.comments.errors.required" class="commonFont">
                                                Message is required.! </span>
                                        </span>
                                    </div>
                                    <div class="col-sm-12 reset-button">
                                        <a routerLink="/viewBooking" class="btn btn-warning">Cancel</a>
                                        <a class="btn btn-success" (click)="sendmessage()">Send</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </section> <!-- /.content -->
        </div> <!-- /.content-wrapper -->
    </div>
</div>