<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">

      <body>
        <div class="main-part">
          <div class="cpanel">
            <div class="icon-part">
              <i class="fa fa-users" aria-hidden="true"></i><br>
              <small>Customers</small>
              <p>985</p>
            </div>
            <div class="card-content-part">
              <a [routerLink]="['/viewCustomer']">More Details </a>
            </div>
          </div>
          <div class="cpanel cpanel-green">
            <div class="icon-part">
              <i class="fa fa-taxi" aria-hidden="true"></i><br>
              <small>Drivers</small>
              <p>100</p>
            </div>
            <div class="card-content-part">
              <a [routerLink]="['/viewDriver']">More Details </a>
            </div>
          </div>
          <div class="cpanel cpanel-orange">
            <div class="icon-part">
              <i class="fa fa-calendar" aria-hidden="true"></i><br>
              <small>Current Bookings</small>
              <p>11</p>
            </div>
            <div class="card-content-part">
              <a [routerLink]="['/viewBooking']">More Details </a>
            </div>
          </div>
          <div class="cpanel cpanel-blue">
            <div class="icon-part">
              <i class="fa fa-users" aria-hidden="true"></i><br>
              <small>Current Users</small>
              <p>5</p>
            </div>
            <div class="card-content-part">
              <a [routerLink]="['/dashboard']">More Details </a>
            </div>
          </div>
          <div class="cpanel cpanel-red">
            <div class="icon-part">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
              <small>Cart</small>
              <p>$ 45</p>
            </div>
            <div class="card-content-part">
              <a href="#">More Details </a>
            </div>
          </div>
          <div class="cpanel cpanel-skyblue">
            <div class="icon-part">
              <i class="fa fa-comments" aria-hidden="true"></i><br>
              <small>Mentions</small>
              <p>104</p>
            </div>
            <div class="card-content-part">
              <a href="#">More Details </a>
            </div>
          </div>
        </div>
      </body>

      <!-- <body>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="card-box bg-blue">
                <div class="inner">
                  <h3> 13436 </h3>
                  <p> Student Strength </p>
                </div>
                <div class="icon">
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="card-box bg-green">
                <div class="inner">
                  <h3> ₹185358 </h3>
                  <p> Today’s Collection </p>
                </div>
                <div class="icon">
                  <i class="fa fa-money" aria-hidden="true"></i>
                </div>
                <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="card-box bg-orange">
                <div class="inner">
                  <h3> 5464 </h3>
                  <p> New Admissions </p>
                </div>
                <div class="icon">
                  <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
                <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="card-box bg-red">
                <div class="inner">
                  <h3> 723 </h3>
                  <p> Faculty Strength </p>
                </div>
                <div class="icon">
                  <i class="fa fa-users"></i>
                </div>
                <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </body> -->
    </div>
  </div>
</div>