<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div *ngIf="isLoading"  class="loader"></div>
    <body>
      <div class="row">
        <div class="main-part">
          <div class="cpanel">
            <div class="icon-part">
              <i class="fa fa-users" aria-hidden="true"></i><br>
              <small>Customers</small>
              <p>{{totalCustomers}}</p>
            </div>
            <div class="card-content-part">
              <a [routerLink]="['/viewCustomer']">More Details </a>
            </div>
          </div>
          <div class="cpanel cpanel-green">
            <div class="icon-part">
              <i class="fa fa-taxi" aria-hidden="true"></i><br>
              <small>Drivers</small>
              <p>{{totalDrivers}}</p>
            </div>
            <div class="card-content-part">
              <a [routerLink]="['/viewDriver']">More Details </a>
            </div>
          </div>
          <div class="cpanel cpanel-orange">
            <div class="icon-part">
              <i class="fa fa-calendar" aria-hidden="true"></i><br>
              <small>Current Bookings</small>
              <p>{{totalCurrentBookings}}</p>
            </div>
            <div class="card-content-part">
              <a [routerLink]="['/viewBooking']">More Details </a>
            </div>
          </div>
          <div class="cpanel cpanel-blue">
            <div class="icon-part">
              <i class="fa fa-users" aria-hidden="true"></i><br>
              <small>Current Users</small>
              <p>{{totalUsers}}</p>
            </div>
            <div class="card-content-part">
              <a [routerLink]="['/viewUser']">More Details </a>
            </div>
          </div>
          <div class="cpanel cpanel-blue">
            <div class="icon-part">
              <i class="fa fa-drivers-license-o" aria-hidden="true"></i><br>
              <small>Expired Drivers License</small>
              <p>{{expiredLiscenseDrivers}}</p>
            </div>
            <div class="card-content-part">
              <a [routerLink]="['/viewLicenseExpiredDrivers']">More Details </a>
            </div>
          </div>
          
        </div>
      </div>
    </body>
  </div>
</div>