<mat-nav-list>
  <div class="logo py-4">
    <!--<h style="color: wheat;">TRAVEL AGENCY</h>-->
    <span class="logo-mini">
      <!--<b>A</b>H-admin-->
      <img src="assets/logo1.jpg" alt="TRAVEL AGENCY">
  </span>
    <!-- <h5 style="color: wheat;">TRAVEL AGENCY</h5> -->
    <span class="logo-lg">
      <!--<b>Admin</b>H-admin-->
      <a style="color: wheat;"> TRAVEL AGENCY</a>
  </span>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a> -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/addBooking">
    <mat-icon>add_box</mat-icon> Add Booking
  </a>  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/viewBooking">
    <mat-icon>view_list</mat-icon> View Booking
  </a> 
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/addDriver">
    <mat-icon>directions_car</mat-icon> Add Driver
  </a>  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/viewDriver">
    <mat-icon>view_list</mat-icon> View Driver
  </a> 
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/addCustomer">
    <mat-icon>supervised_user_circle</mat-icon> Add Customer
  </a>  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/viewCustomer">
    <mat-icon>view_list</mat-icon> View Customer
  </a> 
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/addUser">
    <mat-icon>supervisor_account</mat-icon> Add User
  </a>  
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/viewUser">
    <mat-icon>view_list</mat-icon> View User
  </a>  -->
   
</mat-nav-list>
